<div class="report-widget">
    <h3><?= $this->property('title') ?></h3>

    <div class="table-container">
        <table class="table data">
            <thead>
                <tr>
                    <th class="sort-desc" width="200px;">Month</th>
                    <th>Total (VND)</th>
                    <th>Ticket sold</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($records as $key => $record): ?>
                <tr>
                    <td><?= $record->date ?></td>
                    <td><?= $record->total_amount ?></td>
                    <td><?= $record->count ?></td>
                </tr>
                <?php endforeach ?>
            </tbody>
        </table>
    </div>

</div>
